# Ignore node_modules in all projects
**/node_modules/

# Ignore Angular build outputs
**/dist/
**/out-tsc/
**/.angular/

# Ignore environment files (optional)
**/environment*.ts

# Ignore IDE/editor settings
.vscode/

# Ignore logs
*.log

# OS files
.DS_Store
Thumbs.db
